<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <displayName>User Interface Tests</displayName>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/dot/iacob</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
export USE_CCACHE=1
export CCACHE_DIR=/dot/ccache/iacob
prebuilts/misc/linux-x86/ccache/ccache -M 50G

export DOT_OFFICIAL=true
source build/envsetup.sh
lunch dot_mido-userdebug
make bacon -j84</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.6.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>